{%extends 'base.html' %}
{% load static %}
{% block title %}Reserved Tables{%endblock%}

{% block content %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1> Reserved Tables Data</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Bookings</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reserved Tables</h5>
              <p><i class="bi bi-table"></i>  <span>Bookings</span></p>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Reserved By</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">date Reserved</th>
                    <th scope="col">No. of People</th>
                    <th scope="col">Attended Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for booking in bookings %}
                  <tr>
                    <th scope="row">{{booking.id}}</th>
                    <td><a href="{% url 'booking_details' booking.id %}" title="click to view message">{{booking.name}}</a></td>
                    <td>{{booking.phone_number}}</td>
                    <td>{{booking.date}}</td>
                    <td>{{booking.people}}</td>
                    <td>{{booking.attended}}</td>
                    {%if request.user.staff.admin %}
                        <td>
                          <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger btn-sm" title="delete booking"><i class="bi bi-trash"></i></a>
                        </th>
                      {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}